extends layout

block content
	.row.col-md-12
		h3 Last 24h
		.col-md-9#day(style='height:300px')
		.col-md-2.well
			p Average:
				strong.text-righ #{data.valuesLast24Hours.averages}
			p Lowest:
				strong.text-righ #{data.valuesLast24Hours.lowest}
			p Highest:
				strong.text-righ #{data.valuesLast24Hours.highest}
	.row.col-md-12		
		h3 Last week
		.col-md-9#week(style='height:300px')
		.col-md-2.well
			p Average:
				strong.text-righ  #{data.valuesLastWeek.averages}
			p Lowest:
				strong.text-righ #{data.valuesLastWeek.lowest}
			p Highest:
				strong.text-righ #{data.valuesLastWeek.highest}	
	.row.col-md-12				
		h3 Last month
		.col-md-9#month(style='height:300px')
		.col-md-2.well
			p Average:
				strong.text-righ #{data.valuesLastMonth.averages}
			p Lowest:
				strong.text-righ #{data.valuesLastMonth.lowest}
			p Highest:
				strong.text-righ #{data.valuesLastMonth.highest}